{{#contentFor 'title'}}
    <title>About | fransasia</title>
{{/contentFor}}


<h1>
    About Us
</h1>

<h2>
    Fransasia and its economic context
</h2>

<article>
    <section>
        <h3>
            Fransasia Ltd has witnessed 4 periods <br>
            (which could be characterized as follows)
        </h3>
        <ul>
            <li><b>1989</b>: Fransasia was founded in Macau – 98% of our Western Clients’requests are about sourcing & production</li>
            <li><b>1999</b>: Clients, mainly corporations, enquire about business development</li>
            <li><b>2009</b>: Over 50% of Client requests are about Business development with raising interest in emerging South East Asian Countries and co-development</li>
            <li><b>2019</b>: Most clients search for Business Development creative paths</li>
        </ul>
    </section>
    <div class="separator vertical"></div>
    <section>
        <h3>
            Contextual Economic reference <br>
            (with the same time line –intentionaly)
        </h3>
        <ul>
            <li>1989: Deng Xiao Peng second visit to Shenzhen, reiteration and further announcement</li>
            <li>1999: GuangDongProvince the factory of the world, Development of iconic Pudong and Special economic zones</li>
            <li>2009: Shenzhen = beginning of the Asian Silicon Valley; many other initiatives (Singapore-Guangzhou Knowledge city, HuangZhou, Tianjin, Development of the Center and West China) + emerging of other South East Asian Countries (Vietnam, Thailand, …)</li>
            <li>2019: China superpower</li>
        </ul>
    </section>
</article>


<h2>
    Why fransasia ?
</h2>

<article>
    <section>
        <ul>
            <li>Unparalleled track record in the region</li>
            <li>Consulting and Operational Engagement anchored in real life</li>
            <li>Numerous success stories ‒ and failure ‒ of all kinds have forged our experience</li>
            <li>Rooted in both culture (European and Asian)</li>
            <li>Focus on 2<sup>nd</sup> Tier cities and/or Industry leaders</li>
        </ul>
    </section>
    <div class="separator vertical"></div>
    <section>
        <ul>
            <li>Reports on actions</li>
            <li>Regular Steering Committees</li>
            <li>Better understanding of true decision process</li>
        </ul>
    </section>
</article>

<article class="one">
    <ul>
        <li>Member of France Macau Chamber of Commerce (since 1991)</li>
        <li>Member of Macau European Chamber of Commerce (since 2014)</li>
        <li>Member of Réseaux Entreprendre (Ile et Vilaine, since 2019)</li>
    </ul>
</article>


<h2>
    A word from the founder
</h2>

<p>
    Previously executive in a Corporation (Suez), I decided to turn my passion into a mission.
    Make people of different origin and culture understand each other; for a peaceful world.
    Today, the relations of the “rest of the world” with China and Asia are everywhere.
    It is unthinkable to imagine an activity, a business, an event without referring to or interacting with Asia.
    It is an omnipresent reality and becomes almost invisible, because so common.
    And yet it is a requirement to at least reflect, a requirement that continues to grow and accelerate… How to respond ?
    It’s my goal and the pleasure of my life since 1989 : find the right approach;
    reassure you, visualize your values, reveal your potential in this region, differentiate yourself,
    iron out Macau offers a fantastic and unique, starting  point platform, a “laboratory”, a stepping stone to their markets.
    Our talent at your service : connect you to the right people, concepts, markets and business models.
</p>
