{{#contentFor 'title'}}
    <title>About | fransasia</title>
{{/contentFor}}


<h2>
    Fransasia and its economic context
</h2>

<article>
    <section id="left">
        <h3>
            Fransasia Ltd has witnessed 4 periods <br>
            (which could be characterized as follows)
        </h3>
        <ul>
            <li><b>1989</b>: Fransasia was founded in Macau – 98% of our Western Clients’requests are about sourcing & production</li>
            <li><b>1999</b>: Clients, mainly corporations, enquire about business development</li>
            <li><b>2009</b>: Over 50% of Client requests are about Business development with raising interest for Emerging South East Asian Countries and co-development<</li>
            <li><b>2019</b>: Most clients search for Business Development creative paths</li>
        </ul>
    </section>
    <div class="separator vertical"></div>
    <section id="right">
        <h3>
            Contextual Economic reference <br>
            (with the same time line –intentionaly)
        </h3>
        <ul>
            <li>1989: Deng Xiao Peng second visit to Shenzhen, reiteration* and further announcement</li>
            <li>1999: GuangDongProvince the factory of the world, Development of iconic Pudong and Special economic zones</li>
            <li>2009: Shenzhen = beginning of the Asian Silicon Valley; many other initiatives (Singapore-Guangzhou Knowledge city, HuangZhou, Tianjin, Development of the Center and West China) + emerging of other South East Asian Countries (Vietnam, Thailand, …)</li>
            <li>2019: China superpower</li>
        </ul>
    </section>
</article>
