{{#contentFor 'title'}}
    <title>Convergence | fransasia</title>
{{/contentFor}}


<h1>
    Convergence
</h1>

<article>
    <ul>
        <li>In the Internet industry since 1993 </li>
        <li>The Internet bubble & the then start-up that changed the world</li>
        <li>Convergence in the Telecom-Internet-Media</li>
        <li>High technology that serves Content and Ad Revenues</li>
        <li>Access to Asian Content from Philippines, Vietnam, Hong Kong, Macau, Singapore, Taiwan …</li>
    </ul>
</article>
