{{#contentFor 'title'}}
    <title>Green | fransasia</title>
{{/contentFor}}


<h1>
    Go Green or don’t Go !
</h1>

<article>
    <ul>
        <li>The Musang King Durian Tree Plantation in Malaysia and Indonesia with high return investment</li>
        <li>Agar Wood with a fix annual rate of return &gt;15%</li>
        <li>Reforestation projects for Corporation to compensate their CO<sub>2</sub> footprint</li>
    </ul>
</article>
