{{#contentFor 'title'}}
    <title>fransasia</title>
{{/contentFor}}



<div id="welcome">
    <h1>Welcome to Fransasia !</h1>

    <article>
        <section>
            <h2>Business Mission</h2>
            <p>
                Enhancing the mutual understanding beyond origin and culture,
                for fruitful businesses to emerge and sustain
            </p>
        </section>
        <div class="separator vertical"></div>
        <section>
            <h2>Service</h2>
            <p>
                Fransasia is here for you, striving to iron out any of your difficulties
                in your Asian operations
            </p>
        </section>
    </article>
</div>

<p>
    By living here we solve your far reached issues and time difference
    There is no more excuse not to deal with Asia
</p>
