<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <header>
            <a href="/"><img src="/images/logo.webp"></a>
            <nav>
                <a href="#" class="active">Mission & Service</a>
                <a href="#">Partner & Deal</a>
                <a href="#">Manage Deal</a>
                <a href="#">Convergence</a>
                <a href="#">Green</a>
                <a href="#">Macau</a>
            </nav>
        </header>

        <div id="body">
            {{{body}}}
        </div>
    </body>
</html>
