<!DOCTYPE html>
<html lang="en">
    <head>
        {{{block "title"}}}
        <link rel='stylesheet' href='/stylesheets/{{title}}.css' />
    </head>

    <body>
        <header>
            <a href="/"><img src="/images/logo.webp" alt="Fransasia"></a>
            <nav>
                <a href="#" class="active">Mission & Service</a>
                <a href="#">Partner & Deal</a>
                <a href="#">Manage Deal</a>
                <a href="#">Convergence</a>
                <a href="#">Green</a>
                <a href="#">Macau</a>
            </nav>
        </header>

        <div id="body">
            {{{body}}}
        </div>
    </body>
</html>
