{{#contentFor 'title'}}
    <title>Macau | fransasia</title>
{{/contentFor}}


<h1>
    Macau
</h1>

<article>
    <ul>
        <li>Fransasia was created in Macau in 1989</li>
        <li>Before and after 2004 (from 1 to 6 casino licenses), to becoming the world destination for gamblers (7 times Las Vegas)</li>
        <li>Balance between the traditional Macau and the city of fantasy</li>
        <li>Work with all major companies & Government, key SMEs & the Real Estate Industry</li>
    </ul>
</article>
