{{#contentFor 'title'}}
    <title>Partner & Deal | fransasia</title>
{{/contentFor}}


<h1>
    From &quot;Partner Identification&quot; to &quot;Deal signing&quot;
</h1>

<article>
    <ul>
        <li>Argumentation plan</li>
        <li>Qualified approach</li>
        <li>Convincing strategy</li>
        <li>Sustain healthy partnership</li>
    </ul>
</article>
