{{#contentFor 'title'}}
    <title>Manage Deal | fransasia</title>
{{/contentFor}}


<h1>
    Deal Management
</h1>

<article>
    <ul>
        <li>Ensure smooth development</li>
        <li>Manage exponential growth</li>
        <li>Handle conflict resolution</li>
        <li>Taking care of the entire Business Relationship</li>
    </ul>
</article>
