@import "style"


div#body
    h2
        padding-top: 2rem

    article
        margin: 3rem 4rem 1rem
        display: flex
        flex-direction: row
        justify-content: space-between

        section
            width: 47%

            ul
                text-align: left

                li
                    margin-bottom: .5rem
