@import "style"

div#body
    text-align: center

    div#welcome
        height: calc(100vh - 5rem)

        h1
            background-image: url("/images/macau-wallpaper.jpg")
            background-image: image-set("/images/macau-wallpaper.webp" type("image/webp"), "/images/macau-wallpaper.jpg" type("image/jpg"))

            &::after
                content: "better image?"
                position: absolute
                top: 6rem
                left: .3rem
                line-height: initial
                font-size: 1.5rem
                color: rgba(255, 255, 255, 0.6)
                text-shadow: none

        article
            padding: 0
            display: flex
            flex-direction: row
            justify-content: space-evenly
            align-items: center
            height: $half-vh

            section
                width: 45%
                background-color: $bg-color
                font-size: 85%

                *
                    transition: .5s

                h2::after
                    content: "⊕"
                    display: block
                    transition: .3s

                p
                    margin-top: -1.5rem
                    opacity: 0
                    transform: translateY(20px)

                &:hover
                    h2::after
                        opacity: 0

                    p
                        opacity: 1
                        transform: translateY(0)

    p
        margin: 2rem 0 0
