@import "style"

body
    h1
        padding-top: 2rem
        font-size: 3rem

    article
        margin: 5rem 2rem
        display: flex
        flex-direction: row
        justify-content: space-evenly


