@import "reset.css"

@import "../fonts/lato/lato.css"
@import "../fonts/orkney/orkney.css"

$bg-color: #ffffff
$black: #2b0e00
$viewport-height: calc(100vh - 6.4rem)
$half-vh: calc((100vh - 6.4rem) /2)

body
    margin: 0
    padding: 0
    font: 14px "OrkneyRegular","Lato", "Lucida Grande", Helvetica, Arial, sans-serif
    background-color: #ffffff
    color: $black

    a
        background-image: linear-gradient(to right, #0f0f0f5e, #0f0f0f5e)
        background-position: bottom left
        background-repeat: no-repeat
        transition: background-size .3s ease
        background-size: 100% 1px

        &:hover
            background-size: 100% 2px

    header
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 10
        height: 5rem
        padding: .7rem 1rem
        display: flex
        justify-content: space-between
        align-items: center
        background-color: $bg-color

        img
            width: 10rem
            z-index: 11

        nav
            background-color: $bg-color

            @media screen and (max-width: 930px)
                &.show
                    position: absolute
                    top: 6.4rem
                    right: 0
                    bottom: 0
                    left: 0
                    z-index: 9
                    height: $viewport-height
                    display: flex
                    flex-direction: column
                    justify-content: space-evenly
                    align-items: center

            a
                margin: 0 .6rem
                display: inline-block
                text-decoration: none
                font-size: 1.1rem
                font-weight: bold
                color: #fd5e0f
                background-image: linear-gradient(to right, #fd5e0f, #fd5e0f)
                background-position: bottom center
                background-repeat: no-repeat
                background-size: 0 1px
                transition: background-size .3s ease

                &:hover
                    background-size: 90% 1px

                &.active
                    background-image: linear-gradient(to right, #fd5e0f, #fd5e0f)
                    background-position: bottom center
                    background-repeat: no-repeat
                    background-size: 95% 2px

    div#body
        margin: 5rem 0 0
        text-align: center

    footer
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 3rem 5rem 2rem
        color: rgba($black, .7)

        a
            color: inherit
            text-decoration: none
